* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyColor {
    background-color: rgb(226, 212, 148);
}

.white-popup {
    width: 50%; /*or whatever % you prefer*/
    margin: 0 auto;
    display: block;
  }


html, body {
    height: 100%;
   
}

div {
    background-color:rgb(226, 212, 148);
}

.allText {
    font-size: 2em;
    opacity: 70%;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
      -o-transition: font-size 1s;
         transition: font-size 1s;
}

.underRubrik {
    display: none; 
}

.headerPopup{
    width:75%;
    margin:0 auto;
}
  
.headerPopup iframe{
    width:100%;
    margin:0 auto;
}

/* .underRubrik{
    display: none;
} */