* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
 font-size: 2vmin;
}

a {
    font-size: 2vmin;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    text-decoration: line-through;
 
    
  }
  
  a:hover {
    border-bottom: 1px solid;
    

  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }

.bodyColor {
    background-color: rgb(226, 212, 148);
}



html, body {
    height: 100%;
   
}

div {
    background-color:rgb(226, 212, 148);
}



.allText {
    font-size: 3vmin;
    opacity: 70%;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
        -o-transition: font-size 1s;
            transition: font-size 1s;
}



  



.underRubrik {
    display: none; 
}

.headerPopup{
    width:75%;
    margin:0 auto;
}
  
.headerPopup iframe{
    width:100%;
    margin:0 auto;
}

/* .underRubrik{
    display: none;
} */