* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    color:rgb(102, 99, 67);
   
}
html, body {
    height: 100%;
    background-color: rgb(226, 212, 148);
    font-size: 2em;
}

div {
    background-color:rgb(226, 212, 148);
}

.allText {
    font-size: 2em;
    opacity: 70%;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
      -o-transition: font-size 1s;
         transition: font-size 1s;
}

.underRubrik, #underEditorial {
    display: none; 
}


/* .underRubrik{
    display: none;
} */